* {
 padding: 0;
 margin: 0; 
 background-color:  #FFFFFF; 
 box-sizing: border-box;
 
}
body {   
    width: 1000px;
    height: 800px;
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.root {
    width: 420px;
    height: 356px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.root-wrapper {
    width: 356px;
}
.imeges {
    height: 14px;
    display: flex;
    justify-content: right;
}
.text-H1 {
    width: 356px;
    height: 32px;
    margin-bottom: 24px;

}
.text-P {
    color: #7B8E98;
    width: 356px;
    height: 40px;
    margin-bottom: 24px;

}
h1 {

    font-size: 28px;
}
p {

    font-size: 16px;
    padding: 24px auto;
}
input {
    width: 356px;
    height: 48px;
    border-radius: 12px;

}
.extra-text {
    height: 20px;
    margin: 24px 0;
    color: #7B8E98;
}
button {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    background-color: #FFE44D;
    margin-bottom: 34px;

}